:root {
  --brand-color: #013755;
}

.navbar {
  background-color: var(--brand-color);
}

.btn-primary {
  background-color: var(--brand-color);
  border-color: var(--brand-color);
}

.my-name {
    color: #FFFFFF;
    margin-left: 10px;
    font-size: 32px;
    background-color: var(--brand-color);
}

.circle {
  background-color: var(--brand-color);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
}
  
.circle img {
  position: absolute;
  bottom: 0;
  width: 100%;
  scale(1.4);
}
