<?php 
	if ($this->pageCount) {
    ?>
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item <?php echo (! isset($this->previous)) ? 'disabled' : '';?>">
          <a class="page-link" href="<?php echo $this->url($this->route, array('page' => $this->first));?>" tabindex="-1" aria-disabled="<?php echo (! isset($this->previous)) ? 'true' : 'false';?>">Primeiro</a>
        </li>
        <li class="page-item <?php echo (! isset($this->previous)) ? 'disabled' : '';?>">
          <a class="page-link" href="<?php echo $this->url($this->route, array('page' => $this->previous));?>" aria-disabled="<?php echo (! isset($this->previous)) ? 'true' : 'false';?>">Anterior</a>
        </li>
        <?php
          foreach ($this->pagesInRange as $page) {
            if ($page != $this->current) {
              ?>
              <li class="page-item">
                <a class="page-link" href="<?php echo $this->url($this->route, array('page' => $page));?>"><?php echo $page;?></a>
              </li>
              <?php 
            } else {
              ?>
              <li class="page-item active" aria-current="page">
                <a class="page-link"><?php echo $page;?><span class="sr-only">(current)</span></a>
              </li>
              <?php 
            }
          }
        ?>
        <li class="page-item <?php echo (! isset($this->next)) ? 'disabled' : '';?>">
          <a class="page-link" href="<?php echo $this->url($this->route, array('page' => $this->next));?>" aria-disabled="<?php echo (! isset($this->next)) ? 'true' : 'false';?>">Próximo</a>
        </li>
        <li class="page-item <?php echo (! isset($this->next)) ? 'disabled' : '';?>">
          <a class="page-link" href="<?php echo $this->url($this->route, array('page' => $this->last));?>" aria-disabled="<?php echo (! isset($this->next)) ? 'true' : 'false';?>">Último</a>
        </li>
      </ul>
    </nav>
		<?php
	}
?>
