<style>
  .table-numbers tr td {
    white-space:nowrap;
    font-weight: bold;
  }
</style>
<div id="page-heading">
	<h1>Lista de Clientes</h1>
</div>
<hr>
<div class="row row-cols-12">
  <?php echo $this->messageBox($this->messages)?>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <caption>
      <?php
        echo ($this->count) ? "Mostrando {$this->firstItem} à " .
        ($this->currentItems * $this->currentPage) .
        " de {$this->count} registros." : "Mostrando 0 de 0 registros";
      ?>
    </caption>
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">E-mail</th>
        <th scope="col">Gender</th>
        <th scope="col">IP Address</th>
        <th scope="col">Company</th>
        <th scope="col">City</th>
        <th scope="col">Title</th>
        <!-- <th scope="col">Website</th> -->
      </tr>
    </thead>
    <tbody>
      <?php
        if ($this->count) {
          foreach ($this->paginator as $data) {
            ?>
            <tr>
              <th scope="row"><?php echo $data->id; ?></th>
              <td><?php echo $data->firstName; ?></td>
              <td><?php echo $data->lastName; ?></td>
              <td><?php echo $data->email; ?></td>
              <td><?php echo $data->gender; ?></td>
              <td><?php echo $data->ipAddress; ?></td>
              <td><?php echo $data->company; ?></td>
              <td><?php echo $data->city; ?></td>
              <td><?php echo $data->title; ?></td>
              <!-- <td><?php echo $data->website; ?></td> -->
            </tr>
            <?php
          }
        }
      ?>
      <tr>
        <td colspan="9">
          <?php
            if ($this->count) {
              echo $this->paginationControl($this->paginator, 'Sliding', 'partial/pagination');
            } else {
              echo '<center><h6>Desculpe, mas não encontramos nenhum registro para esta consulta.</h6></center>';
            }
          ?>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<?php
  if ($this->count) {
    ?>
    <div class="row row-cols-6 table-responsive">
      <table class="table table-striped table-numbers">
        <tr><td>Clientes com Sobrenome</td><td><?php echo $this->withLastName;?></td></tr>
        <tr><td>Clientes sem Sobrenome</td><td><?php echo $this->noLastName;?></td></tr>
        <tr><td>Clientes com e-mail válido</td><td><?php echo $this->validEmail;?></td></tr>
        <tr><td>Clientes com e-mail inválido</td><td><?php echo $this->invalidEmail;?></td></tr>
        <tr><td>Clientes com gênero</td><td><?php echo $this->withGender;?></td></tr>
        <tr><td>Clientes sem gênero</td><td><?php echo $this->noGender;?></td></tr>
      </table>
    </div>
    <?php
  }
