<?php
echo $this->messageBox($this->messages);
?>
<style>
  .form-group ul li {
    list-style: none;
    font-weight: bold;
    color:#FF0000;
    list-style-position: inside;
  }
</style>
<div class="jumbotron">
  <h1 class="display-5">Carga de Dados.</h1>
  <p class="lead">Esta página foi desenvolvida para executar a carga no banco de dados.</p>
  <hr class="my-4">
  <p>Certifique-se que está carregando um arquivo *.csv com as informações de: </p>
  <p>
    <ul class="list-group">
      <li class="list-group-item">Primeiro Nome (campo first_name (obrigatório))</li>
      <li class="list-group-item">Sobrenome (campo last_name)</li>
      <li class="list-group-item">Email (campo email first_name (obrigatório))</li>
      <li class="list-group-item">Gênero (campo gender)</li>
      <li class="list-group-item">IP (campo ip_address)</li>
      <li class="list-group-item">Empresa (campo company (obrigatório))</li>
      <li class="list-group-item">Cidade (campo city (obrigatório))</li>
      <li class="list-group-item">Cargo (campo title (obrigatório))</li>
      <li class="list-group-item">Site (campo website)</li>
    </ul>
  </p>
</div>
<hr class="my-4">
<h5>Vamos começar? :-)</h5>
<?php $form->setAttribute('method', 'post');?>
<?php $form->prepare();?>
<?php echo $this->form()->openTag($form); ?>
  <div class="form-group">
    <?php $fileElement = $form->get('csv_load_data'); ?>
    <?php echo $this->formLabel($fileElement); ?>
    <?php echo $this->formFile($fileElement); ?>
    <?php echo $this->formElementErrors($fileElement); ?>
  </div>
  <a class="btn btn-primary" href="<?php echo $this->url('home') ?>" role="button">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-return-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
    </svg> Voltar
  </a>
  <button class="btn btn-primary" type="reset">
    Cancelar
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"/>
    </svg>
  </button>
  <button class="btn btn-primary" type="submit">
    Carregar
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-spreadsheet-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M12 0H4a2 2 0 0 0-2 2v4h12V2a2 2 0 0 0-2-2zm2 7h-4v2h4V7zm0 3h-4v2h4v-2zm0 3h-4v3h2a2 2 0 0 0 2-2v-1zm-5 3v-3H6v3h3zm-4 0v-3H2v1a2 2 0 0 0 2 2h1zm-3-4h3v-2H2v2zm0-3h3V7H2v2zm4 0V7h3v2H6zm0 1h3v2H6v-2z"/>
    </svg>
  </button>
<?php echo $this->form()->closeTag(); ?>
