<?php
/**
 * @var Laminas\View\Renderer\PhpRenderer $this
 */
?>
<?php echo $this->doctype() ?>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <?php echo $this->headTitle('Laminas MVC Skeleton')->setSeparator(' - ')->setAutoEscape(false) ?>

    <?php echo $this->headMeta()
      ->appendName('viewport', 'width=device-width, initial-scale=1.0')
      ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>

    <!-- Le styles -->
    <?php echo $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
      ->prependStylesheet($this->basePath('css/style.css'))
      ->prependStylesheet($this->basePath('css/bootstrap.min.css'))
    ?>

    <!-- Scripts -->
    <?php echo $this->headScript() ?>
    <?php echo $this->inlineScript()
      ->prependFile($this->basePath('js/bootstrap.min.js'))
      ->prependFile($this->basePath('js/jquery-3.5.1.min.js'))
    ?>
    <script type="text/javascript">
      if (window.location.pathname === '/') {
        window.location.href = '/index';
      }
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark mb-4" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="circle">
            <a class="navbar-brand" href="<?php echo $this->url('home') ?>">
              <img src="<?php echo $this->basePath('img/eu.jpg') ?>" alt="Laminas">
            </a>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="my-name">Evandro de Oliveira</div>
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="<?php echo $this->url('home') ?>">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="<?php echo $this->url('load-data') ?>">Import Data</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <?php echo $this->content ?>
      <hr>
      <footer>
        <p>&copy; <?php echo date('Y') ?>
          <a href="https://www.linkedin.com/in/evandro-de-oliveira-65148221/" target="blank">Evandro de Oliveira</a> - 
          <a href="https://www.bibliaonline.com.br/acf/jo/6/51+" target="blank">Jesus Cristo, meu Senhor e Salvador</a>.
          <span style="font-size:20px;">&#128591;</span>
        </p>
      </footer>
    </div>
  </body>
</html>
